<!-- SHAPE
   ================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
    </svg>
  </div>
</div>

<!-- INFO
================================================== -->
<section class="py-7 py-md-9 border-bottom border-gray-300" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 text-center border-right border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1">
          Message us
        </h6>

        <!-- Link -->
        <div class="mb-5 mb-md-0">
          <a href="https://www.facebook.com/karsandmotorbikes" class="h4 text-primary">
            Start a chat!
          </a>
        </div>

      </div>

      <div class="col-12 col-md-4 text-center border-right border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1">
          Call anytime
        </h6>

        <!-- Link -->
        <div class="mb-5 mb-md-0">
          <div>
            <div>
              <a href="tel:+33604657101" class="h4">
                (+33) 6 04 65 71 01
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4 text-center">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1">
          Email us
        </h6>

        <!-- Link -->
        <a href="mailto:contact@knm.lu" class="h4">
          contact@knm.lu
        </a>

      </div>
    </div> <!-- / .row -->
  </div>
</section>

<!-- FORM
================================================== -->
<section class="pt-8 pt-md-11 pb-8 pb-md-14">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h2 class="font-weight-bold">
          Let us hear from you directly!
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-7 mb-md-9">
          We always want to hear from you! Let us know how we can best help you and we'll do our very best.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-10">

        <!-- Form -->
        <form [formGroup]='form' (ngSubmit)="submit()">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group mb-5">

                <!-- Label -->
                <label for="contactName">
                  Full name
                </label>

                <!-- Input -->
                <input
                  formControlName="contactName"
                  type="text"
                  class="form-control"
                  id="contactName"
                  placeholder="Full name">

              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group mb-5">

                <!-- Label -->
                <label for="contactEmail">
                  Email
                </label>

                <!-- Input -->
                <input formControlName="email" type="email" class="form-control" id="contactEmail"
                       placeholder="your@email.com" name="email">

              </div>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12">
              <div class="form-group mb-7 mb-md-9">

                <!-- Label -->
                <label for="contactMessage">
                  What can we help you with?
                </label>

                <!-- Input -->
                <textarea formControlName="message" class="form-control" id="contactMessage" rows="5"
                          placeholder="Tell us what we can help you with!" name="message"></textarea>

              </div>
            </div>
          </div> <!-- / .row -->
          <div class="row justify-content-center" *ngIf="showSuccessMsg">
            <div class="col-xs-12">
              <p class="alert alert-success">
                <strong>Your message has been sent successfully,</strong> we will get back in touch with you soon.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">

            <div class="col-auto">

              <!-- Submit -->
              <button type="submit" value="" Send class="btn btn-primary lift">
                Send message
              </button>

            </div>
          </div> <!-- / .row -->
        </form>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
