<section data-jarallax data-speed=".8" class="pt-10 pt-md-14 pb-12 pb-md-15 overlay overlay-primary overlay-80 jarallax"
         style="background-image: url(assets/img/covers/garage_resized.jpg);">

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">

        <!-- Heading -->
        <h1 class="display-1 font-weight-bold text-white mb-6 mt-n3">
          <strong>KarState System</strong><br>
          <i>I Kan prove it !</i>
        </h1>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

  <!-- Shape -->
  <div class="position-absolute right-0 bottom-0 left-0">

    <!-- Shape -->
    <div class="position-relative shape shape-bottom shape-fluid-x svg-shim text-white">
      <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"/>
      </svg>
    </div>

    <!-- Button -->
    <div class="position-absolute center">
      <a class="btn btn-light btn-rounded-circle lift" data-toggle="smooth-scroll" pageScroll
         href="#projectDescription">
        <i class="fe fe-arrow-down"></i>
      </a>
    </div>

  </div>

</section>


<section class="pt-8 pt-md-11" id="projectDescription">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Badge -->
        <span class="badge badge-pill badge-primary-soft mb-3">
              <span class="h6 text-uppercase">Reliable historic</span>
            </span>

        <!-- Heading -->
        <h1>
          Centralized, accessible, <span class="text-primary">and reliable</span>.
        </h1>

        <!-- Text -->
        <p class="lead text-gray-700 mb-7 mb-md-9">
          A maintenance log which prevents many risks such as hidden defects, odometer fraud and scams in general.
          Over the integration of this system we try to increase the <span class="font-weight-bold">prevention</span>
          around different use cases and to develop <span class="font-weight-bold">trust</span> between all
          stakeholders.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-7">

        <!-- Screenshot -->
        <div class="mb-8 mb-md-0">

          <!-- Image -->
          <img src="assets/img/covers/garage.jpg" alt="..."
               class="screenshot img-fluid mw-md-110 float-right mr-md-6 mb-6 mb-md-0">

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-5">

        <!-- List -->
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>1</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Good tracking
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-6">
              Use our system to keep track of your vehicle and give your mechanic the opportunity to take care of it.
              You will even be able to define alerts together for future maintenance.
            </p>

          </div>

        </div>
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>2</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Value of the vehicle preserved
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-6">
              While you have taken care to add your maintenance to your KarState, you are already preparing your
              arguments for negotiation on D-Day, KarState Kan prove it!
            </p>

          </div>

        </div>
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>3</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Easy sale of a vehicle
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-0">
              Of course, you'll find it easier to buy a vehicle with a well-maintained service record.
              Especially since now it's easy…
            </p>

          </div>

        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section class="py-8 py-md-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Badge -->
        <span class="badge badge-pill badge-primary-soft mb-3">
              <span class="h6 text-uppercase">And more</span>
            </span>

        <!-- Heading -->
        <h1>
          What <span class="text-primary">else ?</span>.
        </h1>

      </div>
    </div> <!-- / .row -->

    <div class="row align-items-center">
      <div class="col-12 col-md-6">


















        <!-- List -->
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>1</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Reports.
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-6">
              Ask your mechanic to perform the checks for a KarState report and use it to increase your vehicle's chances of sale.
              For each report, you will be able to consult free of charge the reports of 2 vehicles you are considering buying.
            </p>

          </div>

        </div>
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>2</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Available for all.
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-6">
              Absolutely for any vehicle owner and any automotive professional.
              However, each piece of information given to the system must be validated by an automotive professional.
            </p>

          </div>

        </div>
        <div class="d-flex">

          <!-- Badge -->
          <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
            <span>3</span>
          </div>

          <!-- Body -->
          <div class="ml-5">

            <!-- Heading -->
            <h3>
              Accessible everywhere.
            </h3>

            <!-- Text -->
            <p class="text-gray-700 mb-0">
              Even if you are not at your usual garage, any garage could add the latest maintenance to your KarState. Or you can make a free entry.
            </p>

          </div>

        </div>




























      </div>
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="assets/img/illustrations/illustration-3.png" alt="..." class="img-fluid mw-md-130">

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
    </svg>
  </div>
</div>

