/* You can add global styles to this file, and also import other style files */
.navbar-brand-img {
  max-height: 3.5rem;
}
.ng-invalid.ng-touched {
  border-color: #dc3545;
}
.ng-valid.ng-touched {
  border-color: #28a745;
}
