<!-- WELCOME
================================================== -->
<section class="mt-n10">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
      <div class="col-12 col-md-12 col-lg-12 mt-auto text-center">

        <!-- Heading -->
        <h1 class="display-1 mb-0 font-weight-bold">
          <span class="text-primary">Reliable</span> Automotive Market.
        </h1>

      </div>
      <div class="col-12 mt-auto text-center">

        <!-- Button -->
        <a class="btn btn-primary btn-rounded-circle shadow" data-toggle="smooth-scroll" data-offset="0"
           href="#sectionTwo">
          <i class="fe fe-arrow-down"></i>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<div class="position-relative mt-n12 mt-md-n15">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-black">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"/>
    </svg>
  </div>
</div>

<!-- STEPS
    ================================================== -->
<div class="section bg-black pt-12 pt-md-15 pb-8 pb-md-11" id="sectionTwo">
  <div class="container">
    <div class="row justify-content-between align-items-center mb-5">
      <div class="col-12 col-md-4 order-md-2 text-center">

        <!-- Image -->
        <img class="img-fluid w-75 w-md-100 mb-6 mb-md-0" src="assets/img/illustrations/blockchain.png"
             alt="...">

      </div>
      <div class="col-12 col-md-7 order-md-1">

        <!-- Heading -->
        <h2 class="text-white" style="max-width: 450px;">
          We start with your needs and deliver a full reliable solution.
        </h2>

        <!-- Text -->
        <div class="lead text-muted-80 mb-0">
          Once you have subscribed to our system, you are part of a chain of trust in the automotive sector. The more
          you develop the chain, the more you benefit. Whether you are a private individual or a professional.
        </div>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">

            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">

                <!-- Number -->
                <a class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1" href="#!">
                  <span>1</span>
                </a>

              </div>
              <div class="col">

                <!-- Divider -->
                <hr class="d-none d-md-block border-gray-900-50 mr-n7">

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">

            <!-- Heading -->
            <h3 class="text-white">
              Create an account.
            </h3>

            <!-- Text -->
            <p class="text-muted-80 mb-6 mb-md-0">
              Let's get acquainted at <a href="#">karstate.com</a> then, take your login,
              insert a password, validate and keep this information carefully.
            </p>

          </div>
        </div> <!-- / .row -->
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">

            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">

                <!-- Number -->
                <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1">
                  <span>2</span>
                </a>

              </div>
              <div class="col">

                <!-- Divider -->
                <hr class="d-none d-md-block border-gray-900-50 mr-n7">

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">

            <!-- Heading -->
            <h3 class="text-white">
              Register your vehicle.
            </h3>

            <!-- Text -->
            <p class="text-muted-80 mb-6 mb-md-0">
              At the next repair, maintenance or in anticipation of changing your car. Ask your garage to register your
              vehicle in our KarState System.
            </p>

          </div>
        </div> <!-- / .row -->
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">

            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">

                <!-- Number -->
                <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1">
                  <span>3</span>
                </a>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">

            <!-- Heading -->
            <h3 class="text-white">
              Take advantage of your KarState.
            </h3>

            <!-- Text -->
            <p class="text-muted-80 mb-0">
              As a member of the chain of trust, you can now access information on the vehicles you are considering
              acquiring and more… See KNM Platform.
            </p>

          </div>
        </div> <!-- / .row -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container-->
</div>

<!-- STEPS
   ================================================== -->
<div class="position-relative">
  <div class="shape shape-top shape-fluid-x shape-flip-x svg-shim text-black">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h2880v125h-720L720 250H0V0z" fill="currentColor"/>
    </svg>
  </div>
</div>


<!-- ABOUT
================================================== -->
<section>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6 col-lg-5 order-md-2">

        <!-- Image grid -->
        <div class="d-flex flex-column w-md-130 mb-6 mb-md-0">

          <!-- Image -->
          <img class="img-fluid rounded shadow align-self-start" data-jarallax-element="-20"
               src="assets/img/screenshots/ui/analytics-2.png" alt="..."
               style="min-height: 1px; max-width: 50%; margin-left: 40%;">

          <!-- Image -->
          <img class="img-fluid rounded shadow align-self-start" data-jarallax-element="-50"
               src="assets/img/screenshots/ui/analytics-1.png" alt="..."
               style="min-height: 1px; max-width: 50%; margin-top: -35%;">

          <!-- Image -->
          <img class=" img-fluid rounded shadow align-self-center" data-jarallax-element="-80"
               src="assets/img/screenshots/ui/analytics-3.png" alt="..."
               style="min-height: 1px; max-width: 50%; margin-top: -20%;">

        </div>

      </div>
      <div class="col-12 col-md-6 order-md-1 pt-md-12">

        <!-- Heading -->
        <h1>
          A professional area dedicated to garages, accessible and easy to use.
        </h1>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          Be more competitive. Offer your customer new opportunities with our solution.
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success">
                Subscription without commitment.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <p class="text-success mb-lg-4">
                Customer management.
              </p>

            </div>
            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <p class="text-success mb-lg-0">
                Access to customer’s vehicle history.
              </p>

            </div>

          </div>
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </span>

              <!-- Text -->
              <p class="text-success">
                3 months free.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success mb-4">
                Vehicles management.
              </p>

            </div>
            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success mb-0">
                Plan and notify future maintenance.
              </p>

            </div>

          </div>
        </div> <!-- / .row -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6 img-skewed img-skewed-right">

        <!-- Code -->
        <div class="card rounded-lg bg-black mb-6 mb-md-0 img-skewed-item screenshot">
          <div class="card-header border-white-10">

            <!-- Controls -->
            <div class="d-flex">
              <span class="bg-danger rounded-circle" style="width: 10px; height: 10px;"></span>
              <span class="bg-warning rounded-circle ml-1" style="width: 10px; height: 10px;"></span>
              <span class="bg-success rounded-circle ml-1" style="width: 10px; height: 10px;"></span>
            </div>

          </div>
          <div class="card-body">

            <!-- Code -->
            <code class="highlight" data-toggle="typed"
                  data-options='{"backSpeed":2, "strings": ["&gt;&nbsp;$&nbsp;npm&nbsp;install<br/><span class=\"text-success\">Everything&nbsp;is&nbsp;installed</span><br/><br/>&gt;&nbsp;$&nbsp;gulp<br/><span class=\"text-success\">scss&nbsp;watching</span><br/><span class=\"text-success\">LiveReload&nbsp;started</span><br/><span class=\"text-success\">Opening&nbsp;localhost:3000</span><br/><br/>&gt;&nbsp;$&nbsp;that&#x2019;s&nbsp;it<br/><span class=\"text-success\">Yup,&nbsp;that&#x2019;s&nbsp;it.</span>"]}'
                  style="min-height: 183px;"></code>

          </div>
        </div>

      </div>
      <div class="col-12 col-md-5">

        <!-- Heading -->
        <h2>
          For auto groups, provision of an API to integrate the KarState System in their environment.
        </h2>


      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- BRANDS
   ================================================== -->
<section class="py-6 py-md-8 bg-primary">
  <div class="container">
    <div class="flickity-viewport-visible"
         data-flickity='{"imagesLoaded": true, "initialIndex": 6, "pageDots": false, "prevNextButtons": false, "contain": true}'>

      <div class="mt-3 col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          <img src="assets/img/partners_logo/kisspng-epitech.png" />
        </div>

      </div>
      <div class="mt-4 col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          <img src="assets/img/partners_logo/technoport-logo.png" />
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          <img src="assets/img/partners_logo/chambre_commerce_luxembourg.png" />
        </div>

      </div>

    </div>
  </div> <!-- / .container -->
</section>

<app-contact></app-contact>


