<!-- MODALS
================================================== -->
<app-modals></app-modals>

<!-- NAVBAR
================================================== -->
<app-navbar></app-navbar>

<!-- WELCOME
================================================== -->
<section class="mt-n10">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
      <div class="col-12 col-md-8 col-lg-7 mt-auto text-center">

        <!-- Heading -->
        <h1 class="display-1 mb-0 font-weight-bold">
          <span class="text-primary">Reliable</span> Automotive Market.
        </h1>

      </div>
      <div class="col-12 mt-auto text-center">

        <!-- Button -->
        <a class="btn btn-primary btn-rounded-circle shadow" data-toggle="smooth-scroll" data-offset="0" href="#sectionTwo">
          <i class="fe fe-arrow-down"></i>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- FOOTER
================================================== -->
<app-footer></app-footer>
